@import "../../Scss/main.scss";

.newsletter_container {
    background-image: url(../../../assets/images/newsletter_image.svg);
    background-size: cover;
    height: 40vh;

    .email {

        input,
        button {
            background-color: $light;
        }
    }
}

@media(max-width:570px) {
    .newsletter_container {
        .img {
            display: none;

        }

        .newsletter_content {
            background-color: $light;
            height: 40vh;
        }
    }

}