.product_quantity{
    width: 30px;
    height: 30px;
}
.shopping_cart_image{
    width: 100px;
}
.complete_product{
    position: relative;
}
.current_quantity{
    position: absolute;
    top: -10px;
    left: 80px;
}
