@import "../../Scss/main.scss";
.cart_image{
    width: 50px;
}
.cart_nav_link{
    width: max-content;
}
.cart_nav_link.active{
    border-bottom: 2px solid black;
}
@media(max-width:669px){
.cart_header{
    overflow-x: scroll;
    flex-wrap: nowrap;
    ::-webkit-scrollbar {
        width: 1px;
        height: 4px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: $WhiteSmoke;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color:$DarkGrey; 
        border-radius: 6px;
    }
}

}