.order_summary{
    width: fit-content;
}
.checkout_details{
    margin: 0 auto;
    width: 99%;
}
.order_summary_image{
    width: 100px;
}

@media(max-width:400px){

    .order_summary_image{
            width: 70px;
    }
    .cart_title{
        font-size: 15px;
    }
}
