@import "../../Scss/main.scss";

.account_profile {
    background-color: $light;
}

.links.active{
    border-bottom: 1px solid $black;
    width: 300px;
}
.dropdown {
    width: 200px;
    position: relative;
    .dropdown-btn {
      box-shadow: 1px solid grey;
    }
  
    .dropdown-content {
      width: 100%;
      box-shadow: 2px 2px $dark_grey;
      z-index: 2;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $white;
    }
  }