.saleup_image{
    width: 100%;
}
.sale_up_link{
    width: 25%;
    width: 100px;
}
.details{
    width: 35px;
}
.card .h5{
 color: var(--grey) ;
}
.card-deck{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.card{
    flex: 1 0 auto;
}
.location_image{
    width: 10px;
    padding: 150px 250px;
    border: red;
    position: fixed;
}
.message_field{
    height: 70px;
}