@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100&display=swap');


:root{
  --black: #141718;
  --grey: grey;
  --light : #F3F5F7;
  --MildWhite:#EFEFEF;
  --WhiteSmoke : #F5F5F5;
  --DarkGrey:rgb(75, 74, 74);
  

}
*{
  font-family:"Poppins",sans-serif;
}